:root {
  --blueColor: #2196f3;
  --blackColor: #212121;
  --greyColor: #757575;
  --whiteColor: #ffffff;
  --footerGrey: #2f303a;
  --buttonColor:#F5F4FA;
}
body {
  color: var(--greyColor);
  font-family: 'Roboto', sans-serif;
}
.navigation-bar {
  color: var(--blackColor);
  font-size: 14px;
  line-height: 1.17;
  text-decoration: none;
  font-weight: 500;
}
.navigation-bar:hover, .current, .adress:hover {
  color: var(--blueColor);
 }
.navigation-bar:focus, .adress:focus{
  color: var(--blueColor);
  background-color: var(--buttonColor);
}

ul {
  list-style-type: none;
}

.adress {
  color: var(--greyColor);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  text-decoration: none;
}
.footer .adress {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-weight: 400;
  }
  


.webstudio {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
  color: var(--blackColor);
}
.footweb {
  color: var(--whiteColor);
}
.web {
  color: var(--blueColor);
}

.header {
  font-weight: 900;
  color: #ffffff;
  text-align: center;
  font-size: 44px;
  line-height: 1.36;
}
.header-section {
  background-color: #2f303a;
}
.remove{
    color: var(--whiteColor);
}
.header-button {
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  text-align: center;
  color: var(--whiteColor);
  background-color: var(--blueColor);
}
.h3-header {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.17;
  color: var(--blackColor);
  text-transform: uppercase;
}
.section-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.h2-header {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 1.17;
  color: var(--blackColor);
}
.worker-name {
  text-align: center;
  color: var(--blackColor);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
}
.worker-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
}
.footer {
  background-color: var(--footerGrey);
  color: var(--whiteColor);
}
.footer-text {
  color: var(--whiteColor);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}
.section-button {
  background-color: var(--buttonColor);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  color: var(--blackColor);
}
.section-button:hover ,:focus {
  background-color: var(--blueColor);
  color: #ffffff;
  box-shadow: 0 2 2 0,
   0 1 2 0;
}
.section-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--blackColor);
}
.section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
}

